<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= form_with model:@message, url:confirm_path, local:true do |f| %>
          <h2 class="mb-3 mt-4">お問い合わせ</h2>
          <div>
            <strong>名前</strong>
            <p><%= f.text_field :name, class: "form-control" %></p>
          </div>
          <div>
            <strong>メールアドレス</strong>
            <p><%= f.text_field :email, class: "form-control" %></p>
          </div>
          <div>
            <strong>内容</strong>
            <p><%= f.text_area :content, class: "form-control", size:"100x5" %></p>
          </div>
            <%= f.submit '確認画面へ', class:"btn btn-success mt-4" %>
      <% end %>
    </div>
  </div>
</div>