<div class="container mt-4">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <h2>ユーザー情報編集</h2>
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
        <%= f.label :"ニックネーム" %><br>
        <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.label :"メールアドレス" %><br>
        <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.label :"プロフィール画像" %><br>
        <%= f.attachment_field :profile_image %>
        </div>
        <%= f.submit "更新する", class: "btn btn-success mt-3" %>
      　<%= link_to "退会", unsubscribe_users_path(@user), class: "btn btn-danger mt-3" %>
      <% end %>
    </div>
  </div>
</div>