<table>
  <% post.comments.each do |comment| %>
    <tr>
        <td><%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'60x60', class:"mr-4" %><br>
      <%= link_to user_path(comment.user_id) do %>
        <%= comment.user.name %></td>
      <% end %>
      <td><%= comment.comment %></td>
      <% if comment.user == current_user %>
        <td><%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger ml-3" , data: { confirm: '本当に削除しますか？' }%></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= form_with(model:[post, comment], remote: true) do |f| %>
  <%= f.text_area :comment, size:"70x5", rows:'5' %>
  <%= f.submit "コメントする",class: "btn btn-success" %>
<% end %>