<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="mb-3 mt-4">新規投稿</h2>
      <%= form_with model:@post, local:true do |f| %>
        <strong>画像</strong>
        <p><%= f.attachment_field :image %></p>
        <strong>タイトル</strong>
        <p><%= f.text_field :title, class: "form-control" %></p>
        <strong>本文</strong>
        <p><%= f.text_area :body, class: "form-control", size:"100x5", rows:'5' %></p>
        <%= f.submit "投稿する", class:"btn btn-success mt-4" %>
      <% end %>
    </div>
  </div>
</div>