<div class= "container">
  <h2 class= "row ml-5 mt-4"><%= @user.name %>さんの会員情報編集</h2>
  <div class= "col-md-9 mx-auto">
  <%= form_with(model: @user,url:admin_user_path, method: :patch,local:true) do |f| %>
    <table class='table table-borderless'>
      <tr>
        <td><label>会員ID</label></td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td><%= f.label :'ニックネーム' %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :'メールアドレス' %></td>
        <td><%= f.text_field :email %></td>
      </tr>
    　<tr>
        <td><%= f.label :'プロフィール画像' %></td>
        <td><%= f.attachment_field :profile_image %></td>
      </tr>
      <tr>
        <td><%= f.label :'会員ステータス' %></td>
        <td><%= f.radio_button :is_deleted, false %>
        <%= f.label :'有効' %>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :''%></td>
      </tr>
    </table>
    <%= f.submit '変更を保存', class: 'btn btn-success'%>
    <% end %>
  </div>
</div>