<div class= "container">
  <h2 class= "row ml-5 mt-4">すべてのユーザー</h2>
  <div class= "col-md-9 mx-auto">
    <table class= "table">
      <thead>
        <th>画像</th>
        <th>ニックネーム</th>
        <th></th>
        <th></th>
        <th>会員ステータス</th>
        <th></th>
      </thead>
      <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image_person.jpg", size:'50x50' %></td>
        <td><%= link_to user_path(user) do %>
        <%= user.name %></td>
        <% end %>
        <td><%= user.followings.count %>フォロー</td>
        <td><%= user.followers.count %>フォロワー</td>
        <td> <% if user.is_deleted == true %><p class = 'text-secondary font-weight-bold text-center'>退会</p>
            <% elsif user.is_deleted == false %><p class = 'text-success font-weight-bold text-center '>有効</p>
            <% end %></td>
        <td><%= link_to '会員詳細', edit_admin_user_path(user.id) %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</div>