<!DOCTYPE html>
<html>
  <head>
    <title>CB-Ride</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
    <header class= "admin_header">
      <%= link_to 'CB-Ride', admin_root_path, class: "logo" %>
    </header>
    <% end %>

    <%= yield %>
  </body>
</html>
